<div class="max-w-full h-screen overflow-hidden bg-midnight flex flex-col items-center justify-center">
    <div class="w-[90%] md:w-[70%] lg:w-[400px] h-auto mx-auto flex flex-col gap-[4rem]">
        <img src="../../assets/logo.svg" class="w-[3rem] mx-auto" alt="logo-image">
        <form class="bg-darkBlue w-full h-[380px] rounded-[16px] py-[1.5rem] px-[2rem]">
            <h1 class="text-white text-xl font-light mb-3">Login</h1>
            <div class="mb-8">
                <input 
                type="email"
                placeholder="Email address"
                class="text-white w-full p-3 mb-2 bg-inherit border-b border-b-slate focus:outline-none focus:caret-plum focus:border-b-white hover:border-b-white placeholder:text-xs placeholder:tracking-wider"
                >
                <input 
                    type="password"
                    placeholder="Password"
                    class="text-white w-full p-3 mb-2 bg-inherit border-b border-b-slate focus:outline-none focus:caret-plum focus:border-b-white hover:border-b-white placeholder:text-xs placeholder:tracking-wider"
                >
            </div>
            <button 
                class="bg-plum w-full mb-5 rounded-[5px] h-[40px] lg:h-[45px] text-white font-light text-xs tracking-wide hover:bg-white hover:text-midnight hover:font-medium"
            >
                Login to your account
            </button>
            <p class="text-white font-light text-xs text-center tracking-wider">
                Don't have an account? 
                <a routerLink="signup" class="text-plum ml-px font-light tracking-wider cursor-pointer">Sign Up</a>
            </p> 
        </form>
    </div>
</div>