<div class="w-full h-auto bg-midnight flex flex-col lg:flex-row gap-[10px] lg:gap-0">
    <div class="w-full lg:w-[11%]">
        <app-sidebar></app-sidebar>
    </div>
    <div class="w-full lg:py-[1.5rem]">
        <div class="w-full">
            <div class="w-full mx-auto flex items-center gap-[1rem] px-[1rem] py-[10px] lg:py-0 md:p-[1rem]">
                <img src="../../../assets/icon-search.svg" alt="icon-search">
                <input 
                    type="search"
                    [(ngModel)]="search"
                    (keyup)="searchlist()"
                    placeholder="Serach for movies or Tv series"
                    class="w-[90%] bg-midnight py-[8px] caret-plum focus:text-white focus:outline-none focus:border-b-2 focus:border-b-slate"
                >
            </div>
        </div>
    </div>
    
</div>